/*@import url("https://fonts.googleapis.com/css?family=Nunito:700");*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: "Poppins";
}
.app-brand-text {
  flex-shrink: unset;
}
.hide {
  display: none;
}

.gray {
  color: #959595;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.dataTables_wrapper .dataTables_pager,
.dataTables_wrapper .dataTables_info {
  display: flex;
  align-items: center;
}

.dataTables_wrapper .dataTables_info {
  justify-content: flex-start;
}

.dataTables_wrapper .dataTables_pager {
  justify-content: flex-end;
}

.dataTables_wrapper .dataTables_pager .dataTables_length {
  margin: 0.5rem 0;
  margin-right: 1rem;
  display: inline-block;
}

.dataTables_wrapper .dataTables_pager .dataTables_paginate {
  margin: 0.5rem 0;
}

.dataTables_wrapper .dataTables_pager .dataTables_length > label {
  margin: auto;
}

.tanggal-devider {
  padding: 5px 10px;
  border-top: solid 1px #d1d3e2;
  border-bottom: solid 1px #d1d3e2;
  line-height: 26px;
}

div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_filter .select2 {
  margin-left: 0.5em !important;
  display: inline-block;
  width: auto;
  cursor: pointer;
}

div.dataTables_wrapper div.dataTables_filter .select2 {
  text-align: left;
}

.select2 {
  width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e6ef;
  outline: none !important;
  border-radius: 0.42rem;
  height: auto;
  line-height: 0;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #858796;
  position: relative;
  padding: 0.5rem 3rem 0.5rem 1rem;
  line-height: 1.5;
  font-size: 14px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__placeholder {
  color: #b5b5c3;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__arrow {
  border: 0;
  margin-left: 0.5rem;
  font-size: 0.85rem;
  left: auto;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  width: auto;
  height: 20px;
  margin-right: 1rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  position: unset;
}

form label,
.date {
  cursor: pointer;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_filter .select2 {
  margin: 0 !important;
}

.cards {
  width: 703px;
  height: 360px;
  margin: 80px auto;
}

.logo {
  display: none;
}

.login-form .bg-image {
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  border-right: solid 1px #ebebeb;
  background-color: #f1f1f1;
}

.content-wrapper2 {
  background: #fff !important;
  padding-top: 8%;
}

.mini-table td {
  border: none;
  padding: 3px;
}

.table-harian > tbody > tr > td:first-child {
  vertical-align: middle;
}

.total-data {
  color: #4267d6;
  font-weight: bold;
}

.custom-select {
  cursor: pointer;
}

.bottom-navigation-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: solid 1px #d6d6d6;
  display: none;
  z-index: 4;
  font-size: 14px;
}

.bottom-navigation-wrapper > ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.bottom-navigation-wrapper > ul > li {
  width: 33.33333333333%;
  text-align: center;
}

.bottom-navigation-wrapper > ul > li > a {
  padding: 15px 0px;
  display: block;
  text-decoration: none;
  color: #575757;
}

.bottom-navigation-wrapper > ul > li.active > a {
  color: #456bd8;
  font-weight: bold;
}

.bottom-navigation-wrapper > ul > li > a:hover {
  color: #000;
}

.scroll-to-top {
  display: none !important;
}

.posisi-berkas-belum-selesai {
  font-size: 18px;
  margin-left: 5px;
  color: #df8a4e;
}

.modal-masking .modal-content {
  position: fixed;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: #fff0;
}

.spinner {
  height: 60px;
  width: 60px;
  -webkit-animation: rotation 0.6s infinite linear;
  -moz-animation: rotation 0.6s infinite linear;
  -o-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid rgb(190 190 190);
  border-right: 6px solid rgb(190 190 190);
  border-bottom: 6px solid rgb(190 190 190);
  border-top: 6px solid rgb(52 71 119);
  border-radius: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.loading {
  background-image: linear-gradient(
    to right,
    rgb(199 199 199 / 30%),
    rgb(199 199 199),
    rgb(199 199 199 / 30%)
  ) !important;
  border-radius: 60px !important;
  color: transparent !important;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  background-size: 205%;
}

@keyframes loading {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.input-group-addon,
.input-group-btn {
  vertical-align: bottom;
}

.input-group-addon {
  border: #d0d2e1 solid 1px;
  background-color: #ffffff;
  font-size: 13px;
  padding: 0px 10px;
  line-height: 28px;
  color: #898a92;
  text-align: center;
  min-width: 36px;
}

.input-group-addon > span {
  position: relative;
  top: 13px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-group-addon:last-child {
  border-radius: 0 0.35rem 0.35rem 0 !important;
}

#dataTable_wrapper > .row:first-child,
#dataTable_wrapper > .row:last-child {
  padding: 10px 20px;
}

#dataTable_wrapper > .row:nth-child(2) > .col-sm-12 {
  overflow-x: auto;
}

.row-data,
label {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.table-hover > tbody > tr.selected > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.modal-masking .modal-dialog .modal-content {
  box-shadow: none;
}

form .invalid,
form .is-invalid .invalid:before,
form .is-invalid::before,
form .invalid input {
  border-color: #ff2500 !important;
}

.btn-success {
  color: #fff;
  background-color: #00b90d;
  border-color: #3cac00;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4);
}

.btn-success:hover {
  background-color: #349600;
  border-color: #359900;
}

.text-wrap {
  white-space: normal;
}

.width-200 {
  width: 200px;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 2160px;
  }

  .layout-navbar.navbar-detached.container-xxl {
    max-width: calc(2160px - calc(1.625rem * 2));
  }
}

@media (min-width: 992px) {
}

/*VERSI MOBILE*/

@media (max-width: 798px) {
  .modal {
    padding-top: 15px;
  }
  .tanggal-devider {
    width: 100%;
    border: none;
    padding: 0;
    visibility: hidden;
    text-align: center;
  }

  .date > .input-group > input {
    border-radius: 0.35rem 0 0 0.35rem !important;
  }

  .dataTables_filter form .row {
    margin: 0 !important;
  }

  .dataTables_wrapper .dataTables_pager {
    justify-content: space-between;
    padding: 0;
  }

  .cards {
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    bottom: 0;
    left: 0;
    transform: unset;
    position: fixed;
    margin: 0;
  }

  .dataTables_pager,
  .dataTables_info {
    display: block !important;
    padding: 0;
  }

  .dataTables_length {
    margin-right: 0 !important;
  }

  .table-navigation {
    font-size: 13px;
    text-align: center;
  }

  .px-nol {
    padding-left: 0;
    padding-right: 0;
  }

  .p-nol {
    padding: 0;
  }

  .bottom-navigation-wrapper {
    display: block;
  }

  .logo {
    display: block;
  }

  .logo > img {
    width: 100%;
  }

  .input-group-addon {
    border-radius: 0 0.35rem 0.35rem 0 !important;
  }

  .modal-dialog {
    margin: 1.5rem 0;
  }

  .table > :not(caption) > * > * {
    padding: 5px;
  }

  .d-flex.justify-content-between {
    flex-direction: column;
  }

  #dataTable_filter > label,
  #dataTable_filter .form-control {
    width: 100%;
  }

  #dataTable_filter > label > .col-12 {
    margin-bottom: 10px;
  }

  .fs-sm-6 {
    font-size: 0.9375rem !important;
  }
}

@media (max-width: 514px) {
}
