/db-postgresql
/rabbitmq
.DS_Store
/nginx/.DS_Store

# Composer
/vendor

# CI3
/application/cache/*
!/application/cache/index.html
/application/logs/*
!/application/logs/index.html

# Environment
*.envconfig
*.log
