services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "${RABBITMQ_AMPQ}:5672"
      - "${RABBITMQ_WEB}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - ./rabbitmq/lib:/var/lib/rabbitmq/
      - ./rabbitmq/log:/var/log/rabbitmq
    networks:
      - optax-network

  db-postgresql:
    image: postgres:18.0-trixie
    user: root
    ports: 
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./db-postgresql:/var/lib/postgresql
    networks:
      - optax-network

  optax:
    build:
      context: .
      dockerfile: php74.Dockerfile
    volumes:
      - ./optax:/var/www/optax
    depends_on:
      - db-postgresql
    networks:
      - optax-network

  pos:
    build:
      context: .
      dockerfile: php74.Dockerfile
    volumes:
      - ./pos:/var/www/pos
    depends_on:
      - db-postgresql
    networks:
      - optax-network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/letsencrypt
      - ./pos:/var/www/pos
      - ./optax:/var/www/optax
      - ./portal:/var/www/portal
    ports:
      - "${POS_PORT}:80"
      - "${MONITORING_PORT}:81"
      - "${PORTAL_PORT}:82"
    depends_on:
      - optax
      - pos
    networks:
      - optax-network

  portal:
    build:
      context: .
      dockerfile: php74.Dockerfile
    volumes:
      - ./portal:/var/www/portal
    depends_on:
      - db-postgresql
    networks:
      - optax-network

networks:
  optax-network:
    driver: bridge
