:root {
     --main: #003A97;
     --white: #ffffff;
}

::-webkit-scrollbar {
     width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px var(--white);
     border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: var(--main);
     border-radius: 10px;
}


.btn-blue {
     background-color: #003A97;
     color: white;
}

.gradient-bar {
     background: white;
     border-radius: 20px;
}

.bar-line {
     background: linear-gradient(90deg, #3699FF 0%, #003A97 99.92%);
}