:root {
    --main: #003A97;
    --white: #ffffff;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--white);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 10px;
}


* {
    margin: 0px;
    /* max-width: 100%; */
    scrollbar-color: blue;
    scrollbar-width: 5px;
}

.header-left {
    display: flex;
    align-items: center;
}

#dashboard-pajak {
    overflow-x: hidden;
}

.monitoring-btn {
    width: 75%;
}

.btn-blue {
    background-color: var(--main);
    color: var(--white);
}

.dd-filter {
    width: fit-content;
}

.btn-filter {
    display: block;
    width: 100% !important;
}

.btn-blue:hover {
    background-color: #064bbb;
    color: var(--white);
}

.card-pajak {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    row-gap: 25px !important;

}


.card_dashboard {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.side-chart {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    border-radius: 20px;
    align-self: center;
    justify-content: space-between;
    border: none;
    border-top: 21px solid #064bbb;
}

.card_chart {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.side_dashboard1 {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    font-weight: bolder;
    color: var(--main);
    border-radius: 0;
    border-bottom: 2px solid var(--main);
}

.card_container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.bg-transparent {
    background-color: rgba(255, 255, 255, 0.7);
    ;
}

.rounded-big {
    border-radius: 16px;
}


.bg-transparent {
    background-color: transparent;
    border: none !important;
}

/* Card Toko Section */
.grid-user {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px !important;
    row-gap: 15px;
    margin-top: 30px;
}

.grid-toko {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px !important;
    row-gap: 35px;
    margin-top: 30px;
}

.card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-user > img {
    width: 50px;
    padding: 7px;
    margin-right: 20px;
    border-radius: 999px;
    background-color: #003A97;
}

.nama {
    width: 75%;
}

.status {
    width: 5%;
}


.item-tempat-usaha {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

.shop-icon {
    width: 100%;
    padding: 10px;
    background-color: #003A97;
    border-radius: 999px;
}

.container-panel {
    padding: 0% 15px;
}



@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        width: 4px;
    }

    .container-panel {
        padding: 0% ;
    }

    .header-left {
        justify-content: flex-start;
        margin-bottom: 15px;
        margin-left: 20px;
    }


    .dd-filter {
        width: 100%;
        padding: 0 15px;
    }

    .dashboard {
        padding: 3% !important;
    }

    .card_dashboard {
        padding: 3% !important;
        border-radius: 16px;
    }
    .monitoring-btn {
        width: 100%;
    }

    .card_chart {
        padding: 3% !important;
        border-radius: 16px;

    }

    .card-user > img {
        width: 50px;
        padding: 5px;
    }

    .grid-toko {
        grid-template-columns: repeat(1, 1fr) !important;
        margin-top: 0px;
        row-gap: 15px;
    }

    .item-tempat-usaha {
        width: 100%;
        padding: 5px;
    }

    .item-tempat-usaha>img {
        margin-right: 30px;
        width: 50px;
        padding: 5px;
    }
}