*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/user_guide

/*.zip
/application/*.zip
/application/modules-*
/application/modules_*
/dokumen0b
/application/third_party/mpdf
/application/third_party/mpdf_v8.0.17
/assets/*.zip
/dokumen/**/*.*
!/dokumen/**/*.gitkeep
!/dokumen/index.html
/dokumen
.envconfig

/beanstalk_console
/socketserver/node_modules
/socketserver/logs
/socketserver/.env
/socketserver/*.log

/.vscode

index.php